@import "tailwindcss";

@theme {
  --color-brand-green: #00D09E;
  --color-brand-blue: #2563eb;
  --color-brand-purple: #7c3aed;
  --color-brand-red: #dc2626;
  --color-custom-green: #F1FFF3;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-light-green: #DFF7E2;
  --color-background-green: #F1FFF3;
  --color-letters-green: #093030;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
