@import "tailwindcss";

@theme {
  --color-brand-green: #00D09E;
  --color-light-green: #DFF7E2;
  --color-dark-green: #0E3E3E;
  --color-background-green: #F1FFF3;
  --color-letters-green: #093030;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
